$accent-color: #207c47;
$secondary-accent-color: #ffd900;
$secondary-text-color: #9b9b73;
$background-color: #ffff;

$pre-mobile: 479px;
$pre-tablet: 767px;
$pre-desktop: 1199px;
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
